{% extends 'base.html' %}
{% load static %}

{% block main %}
<section>
    <h2 class="font-bold text-black text-3xl mb-2">Criar nova postagem</h2>
    <div>
        <p class="text-black">Preencha os campos para criar uma nova postagem. O <b>“*”</b> indica que o <b>campo é
                obrigatório</b></p>
    </div>
</section>

<section class="w-full mt-6">
    <section>
        <form action="" method="post">
            {% csrf_token %}
            <h3 class="font-bold text-black text-xl">Dados de encontro do item</h3>
            <fieldset class="flex flex-wrap justify-between gap-y-3 mt-2 mb-5">
                <div class="flex flex-col w-full sm:w-[45%]">
                    <label class="text-gray font-semibold" for="{{ form.who_found.id_for_label }}">{{form.who_found.label}}</label>
                    {{ form.who_found }}
                </div>

                <div class="flex flex-col w-full sm:w-[45%]">
                    <label class="text-gray font-semibold" for="{{ form.when_was_found.id_for_label }}."> {{ form.when_was_found.label }}</label>
                    {{ form.when_was_found }}
                </div>

                <div class="flex flex-col w-full sm:w-[45%]">
                    <label class="text-gray font-semibold" for="{{ form.local_found.id_for_label }}">{{ form.local_found.label }}</label>
                    {{ form.local_found }}
                </div>

                <div class="flex flex-col w-full sm:w-[45%]">
                    <label class="text-gray font-semibold" for="hour">Turno que foi encontrado *</label>
                    <select aria-placeholder="Selecione o turno" class="text-gray border-light-gray rounded-lg px-4">
                        <option value="morning">Manhã</option>
                        <option value="afternoon">Tarde</option>
                        <option value="night">Noite</option>
                    </select>
                </div>
                </div>
            </fieldset>

            <h3 class="font-bold text-black text-xl">Dados do item</h3>
            <fieldset class="flex flex-wrap justify-between gap-y-3 mt-2 mb-5">
                <div class="flex flex-col w-full sm:w-[45%]">
                    <label class="text-gray font-semibold" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                    {{ form.name }}
                </div>

                <div class="flex flex-col w-full sm:w-[45%]">
                    <label class="text-gray font-semibold" for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
                    {{ form.description }}
                </div>

                <div class="flex flex-col w-full sm:w-[45%]">
                    <label class="text-gray font-semibold" for="archive"></label>
                    <label for="archive"
                        class="flex flex-row items-center justify-center gap-3 bg-primary text-black text-lg py-2 rounded-lg font-bold text-center cursor-pointer hover:bg-primary-contrast">
                        <img src="{% static 'icon/carbon_upload.svg' %}" class="w-5" />
                        Clique para fazer o upload
                    </label>
                    <input id="archive" type="file" name="photo-item" accept="image/*" class="hidden">

                </div>


            </fieldset>

            <h3 class="font-bold text-black text-xl">Dados para retirada do item</h3>
            <fieldset class="flex flex-wrap justify-between gap-y-3 mt-2 mb-5">
                <div class="flex flex-col w-full sm:w-[45%]">
                    <label for="coades" class="text-gray font-semibold"></label>
                    <select aria-placeholder="Selecione o local" class="border-light-gray rounded-lg text-gray px-4"
                        required>
                        <option value="main-block">Bloco Principal</option>
                        <option value="annex-block">Bloco anexo</option>
                    </select>
                </div>

                <div class="flex flex-col w-full sm:w-[45%]">
                    <label for="{{ form.withdrawal_deadline.id_for_label }}" class="text-gray font-semibold">{{ form.withdrawal_deadline.label }}</label>
                    {{ form.withdrawal_deadline }}
                </div>
            </fieldset>

            <div class="flex flex-wrap justify-center sm:justify-end mt-12 gap-3">
                <button type="reset"
                    class="text-black font-bold border-gray border-2 rounded-lg px-12 py-2">Cancelar</button>
                <button class=" text-black font-bold bg-primary rounded-lg px-12 py-2 hover:bg-primary-contrast" type="submit">Finalizar</button>
            </div>
        </form>
    </section>
</section>
{% endblock %}