{% extends 'base.html' %}
{% load static %}
{%block main%}

<div class="flex flex-col m-auto bg-white px-12 py-10 w-[80%] shadow-lg rounded-lg">
    <h3 class="font-bold text-2xl text-black mb-2">Excluir postagem</h3>
    <p class="text-gray text-base">Tem certeza que deseja apagar <strong>{{object.name}}</strong>?<br />Essa ação não
        poderá ser revertida.</p>

    <form action="" method="post" class="flex gap-4 self-end mt-4">
        {% csrf_token %}
        <button class="bg-primary-hover text-success-color px-8 py-2 rounded text-base" type="submit">Sim</button>
        <a href="{% url 'items' %}" class="bg-error-transparent-color text-error-color px-8 py-2 rounded text-base"
            type="reset">Não</a>
    </form>
</div>

{% endblock %}