{% extends 'base.html' %}
{% load static %}
{%block main%}
<section>
    <h2 class="font-bold text-black text-3xl mb-5 max-xl:hidden">Itens entregues</h2>

    <section class="flex flex-row items-center gap-6 justify-between flex-wrap">
        {% include 'search.html' %}

        <select id="orderId" class="border-light-gray rounded-lg pl-6 pr-16 text-gray ">
            <option value="" disabled selected>Ordenar por</option>
            <option value="desc">Mais recentes</option>
            <option value="asc">Mais antigos</option>
        </select>
    </section>
</section>

<section>
    {% for item in object_list %}
    {% include 'card.html' %}
    {% endfor %}
</section>


<script src="{% static 'scripts/share.js'%}"></script>
<script src="{% static 'scripts/search.js'%}"></script>
{% endblock %}