{% extends 'base.html' %}
{% load static %}
{%block main%}

<header>
    <h2 class="font-bold text-black text-3xl mb-5 inline-block max-xl:hidden">Postagens</h2>

    <section class="flex flex-row items-center gap-6 justify-between flex-wrap">
        {% include 'search.html' %}

        <div class="flex justify-between flex-row gap-4">
            <select id="orderId" class="border-light-gray rounded-lg pl-6 pr-16 text-gray ">
                <option value="" disabled selected>Ordenar por</option>
                <option value="desc">Mais recentes</option>
                <option value="asc">Mais antigos</option>
            </select>

            {% if is_authenticated %}
            <a href="{% url 'items/create' %}"
                class="bg-primary w-[200px] min-w-[160px] max-w-[200px] rounded-lg py-2 flex flex-row items-center justify-center gap-2 font-bold text-black max-2xl:w-full max-2xl:flex-1 max-2xl:px-4">
                <img class="fill-black w-6" src="{% static 'icon/carbon_add-alt.svg' %}" />
                <span class="">Novo post</span>
            </a>
            {% endif %}
        </div>

    </section>
</header>

{% include 'messages.html' %}
<section data-platform="desktop" class="itemsContainer desktopItemsList" id="desktopItemsList">
    {% for item in object_list %}
    {% include 'card.html' %}
    {% endfor %}
</section>

<section class="itemsContainer mobileItemsList" id="mobileItemsList">
    {% for item in object_list %}
    {% include 'card_mobile.html' %}
    {% endfor %}
</section>

<script src="{% static 'scripts/share.js'%}"></script>
<script src="{% static 'scripts/search.js'%}"></script>

<script>
    function toggleMenu(id) {
        var options = document.getElementById(id).style
        if (!options.display) {
            options.display = 'block'
            return;
        }
        options.display = options.display == 'none' ? 'block' : 'none'
    }

    function showCardInformations(id, buttonId) {
        var information = document.getElementById(id).style
        var showInformationButton = document.getElementById(buttonId).style

        if (!information.display) {
            information.display = 'flex'
            showInformationButton.display = information.display == 'none' ? 'block' : 'none'
            return;
        }

        information.display = information.display == 'none' ? 'flex' : 'none'
        showInformationButton.display = information.display == 'none' ? 'block' : 'none'
    }

</script>
{% endblock %}