<!DOCTYPE html>
<html lang="pt-br">

{% load tailwind_tags %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achados e perdidos</title>

    {% tailwind_preload_css %}
    {% tailwind_css %}
</head>

{% load static %}

<body class="grid grid-cols-view bg-background-color max-xl:grid-cols-none">
    <aside
        class="bg-white border-r-light-gray border-solid border-r-2 h-[100vh] w-[320px] flex flex-col items-center py-12 px-6 max-xl:hidden">

        <section class="flex-1 w-full">
            <h1>
                <img class="mb-2 mx-auto" src="{% static 'svg/logo.svg' %}" width="200" />
            </h1>
            <hr class="w-full my-5 border-light-gray">
            <li class="list-none">
                <ul class=" bg-primary rounded-lg py-4 flex items-center px-6 gap-3 mb-2">
                    <img class="w-7" src="{% static 'icon/carbon_report.svg' %}" />
                    <a href="./../../pages/posts.html" class="font-bold text-gray text-base ">Postagens</a>
                </ul>
                <ul
                    class=" bg-white rounded-lg py-4 flex items-center px-6 gap-3 hover:bg-primary-hover transition-all mb-2">
                    <img class="w-7" src="{% static 'icon/carbon_checkmark-outline.svg' %}" />
                    <a href="./../../pages/posts.html" class="font-bold text-gray text-base ">Itens entregues</a>
                </ul>
                <ul
                    class=" bg-white rounded-lg py-4 flex items-center px-6 gap-3 hover:bg-primary-hover transition-all mb-2">
                    <img class="w-7" src="{% static 'icon/carbon_close-outline.svg' %}" />
                    <a href="./../../pages/posts.html" class="font-bold text-gray text-base ">Itens expirados</a>
                </ul>
                <hr class="border-light-gray my-5">
                <ul
                    class=" bg-white rounded-lg py-4 flex items-center px-6 gap-3 hover:bg-primary-hover transition-all">
                    <img class="w-7" src="{% static 'icon/carbon_time.svg' %}" />
                    <a href="./../../pages/posts.html" class="font-bold text-gray text-base ">Todos os registros</a>
                </ul>
            </li>
        </section>
        <section class="w-full">
            <div class="bg-primary rounded-lg flex flex-row p-5 gap-3 items-center">
                <img src="{% static 'image/user.png' %}" class="w-[58px]" />
                <div class="flex flex-col text-gray">
                    <strong class="font-bold">André Ferreira</strong>
                    <label class="text-sm">Funcionário</label>
                </div>
            </div>
            <hr class="my-6 border-light-gray">

            <div>
                <button
                    class="w-full text-error-color font-bold flex items-center justify-center gap-3 hover:bg-error-transparent-color py-3 transition-all rounded-lg">
                    <img class="w-7" src="{% static 'icon/carbon_logout.svg' %}" />
                    Sair da conta
                </button>
            </div>
        </section>
    </aside>

    <main class="flex flex-1 py-16 flex-col w-4/6 mx-auto max-2xl:w-11/12">
        <header>
            <h2 class="font-bold text-black text-3xl mb-5">Postagens</h2>

            <section class="flex flex-row items-center gap-6 justify-between flex-wrap">
                <div
                    class="border-light-gray border-[1px] border-solid bg-white rounded-lg flex flex-row items-center gap-2 pl-6 flex-1 min-w-[200px]">
                    <img class="w-5" src="{% static 'icon/carbon_search.svg' %}" />
                    <input class="outline-none border-none bg-transparent w-full placeholder:text-gray" type="search"
                        placeholder="Pesquise pelo nome do item" />
                </div>

                <select aria-placeholder="Ordenar por" class="border-light-gray rounded-lg pl-6 pr-16 text-gray">
                    <option value="recents">Mais recentes</option>
                    <option value="older">Mais antigos</option>
                </select>

                <button
                    class=" bg-primary w-[200px] rounded-lg py-2 flex flex-row items-center justify-center gap-2 font-bold text-black">
                    <img class="fill-black w-6" src="{% static 'icon/carbon_add-alt.svg' %}" />
                    Novo post
                </button>

            </section>
        </header>

        <section>
            <div class="flex flex-row items-center gap-9 border-2 border-light-gray rounded-2xl mt-12">
                <img class="object-cover w-[260px] rounded-tl-2xl rounded-bl-2xl"
                    src="{% static 'image/jarra-de-vo.jpg' %}" alt="Foto do item" />

                <div class="flex-1 px-8 py-4">
                    <section class="flex flex-row items-center justify-between">
                        <span class="bg-error-color rounded-3xl font-bold text-xs text-white px-4 py-1">Perdido</span>

                        <div class="flex flex-row items-center gap-2">
                            <button class="hover:bg-primary-hover rounded-full p-2 transition-all">
                                <img class="fill-black w-6" src="{% static 'icon/carbon_share.svg' %}" />
                            </button>
                            <button class="hover:bg-primary-hover rounded-full p-1 transition-all">
                                <img class="fill-black w-7"
                                    src="{% static 'icon/carbon_overflow-menu-vertical.svg' %}" />
                            </button>
                        </div>
                    </section>

                    <h4 class="font-bold text-black text-[28px] mb-4">Jarra de vidro</h4>

                    <section class="flex flex-row flex-wrap items-center gap-y-4">
                        <div class="flex flex-row items-center gap-3 w-[300px]">
                            <img class="w-8" src="{% static 'icon/carbon_location-hazard.svg' %}" />

                            <div class="leading-none">
                                <strong class="text-black m-0 text-sm">Local onde foi encontrado:</strong>
                                <p class="text-gray m-0 text-sm">Banheiro masculino</p>
                            </div>
                        </div>
                        <div class="flex flex-row items-center gap-3 w-[300px]">
                            <img class="w-8 fill-black" src="{% static 'icon/carbon_time-small.svg' %}" />

                            <div class="leading-none">
                                <strong class="text-black m-0 text-sm">Quando foi encontrado:</strong>
                                <p class="text-gray m-0 text-sm">
                                    <span class="font-bold">16/10</span>/2022 durante à <span
                                        class="font-bold">noite</span>
                                </p>
                            </div>
                        </div>
                        <div class="flex flex-row items-center gap-3 w-[300px]">
                            <img class="w-8" src="{% static 'icon/carbon_checkmark-outline-colorful.svg' %}" />

                            <div class="leading-none">
                                <strong class="text-success-color m-0 text-sm">Data limite para retirada:</strong>
                                <p class="text-gray m-0 text-sm">23/10/2022</p>
                            </div>
                        </div>
                        <div class="flex flex-row items-center gap-3 w-[300px]">
                            <img class="w-8" src="{% static 'icon/carbon_tool-box.svg' %}" />

                            <div class="leading-none">
                                <strong class="text-black m-0 text-sm">COADES para retirada:</strong>
                                <p class="text-gray m-0 text-sm">Bloco para retirada</p>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </section>
    </main>
</body>

</html>