<!DOCTYPE html>
<html lang="pt-br">

{% load tailwind_tags %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Lottie Files -->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    <title>Entrar | Achados e perdidos</title>

    {% tailwind_preload_css %}
    {% tailwind_css %}
</head>

{% load static %}

<body class="flex flex-row items-center h-[100vh]">
    <aside class="mx-auto flex-1 flex flex-col items-center justify-center bg-background-color h-full min-w-[600px] max-xl:hidden">

        <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_fzqg1yye.json" background="transparent"
            speed="1" class="h-auto w-auto" loop autoplay></lottie-player>

        <h3 class="text-[1.6rem] text-black font-bold">Apenas funcionários precisam se autenticar</h3>
        <p class="text-lg text-black text-center mt-1 w-[60%] mb-24">
            A autenticação é destinada ao pessoal autorizado, tal como os funcionários e bolsistas da instituição.
            Qualquer autenticação
            via SUAP por mais que válida, não será reconhecida pelo sistema se for um aluno.
        </p>
    </aside>

    <main class="bg-white flex-0 w-[40%] mx-auto max-xl:w-[80%]">

        <form class="max-w-[400px] mx-auto">
            <h2 class="text-black font-bold text-4xl mb-1">Entrar</h2>
            <p class="text-gray text-lg mb-4">Bem vindo de volta. Estávamos ansiosos por sua volta!</p>

            <fieldset name="user" class="text-gray flex flex-col mb-3">
                <label for="user" class="font-bold">Usuário</label>
                <input class="border-light-gray rounded-lg px-4 placeholder:text-gray" type="number" id="user"
                    placeholder="Insira sua matrícula" />
            </fieldset>

            <fieldset name="password" class="text-gray flex flex-col mb-2">
                <label for="password" class="font-bold">Senha</label>
                <input class="border-light-gray rounded-lg px-4 placeholder:text-gray" type="password" id="password"
                    placeholder="Insira sua senha" />
            </fieldset>

            <p class="text-gray">
                <span class="font-bold">Importante:</span> O usuário e senha são os mesmos utilizados pelo SUAP
            </p>

            <button
                class="w-full bg-primary text-black rounded-lg py-3 font-bold mt-8 hover:bg-primary-contrast transition-all">Continuar</button>
        </form>
    </main>
</body>

</html>