{% load static %}

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success' %}
<div class="flex justify-center">
    <div
        class="bg-{{message.tags}}-transparent-color border-{{message.tags}}-color rounded-xl w-[100%] flex flex-row flex-nowrap gap-3 mt-6 items-center border-2 border-{{message.tags}}-color py-11">
        <div class="ml-3">
            {% if message.tags == 'success' %}
            <img src="{% static 'icon/success-icon.svg' %}">
            {% endif %}
            {% if message.tags == 'error' %}
            <img src="{% static 'icon/error-icon.svg' %}">
            {% endif %}
        </div>
        <div class="">
            <h2 class="text-{{message.tags}}-color text-2xl font-bold">
                {% if message.tags == 'success' %}Sucessso{% endif %}
                {% if message.tags == 'error' %}Erro{% endif %}
            </h2>
            <p class="text-gray">{{message}}</p>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endif %}