{% load static %}

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success' %}
<div class="flex justify-center">
    <div
        class="bg-success-transparent-color rounded-xl w-[100%] flex flex-row flex-nowrap gap-3 mt-6 items-center border-2 border-success-color py-1">
        <div class="ml-3">
            <img src="{% static 'icon/success-icon.svg' %}">
        </div>
        <div class="">
            <h2 class="text-success-color text-2xl font-bold">
                Sucessso
            </h2>
            <p class="text-gray">{{message}}</p>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endif %}