<!DOCTYPE html>
<html lang="pt-br">

{% load tailwind_tags %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg" href="{% static 'svg/favicon.svg' %}">

    <!-- Lottie Files -->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    <title>Entrar | Achados e perdidos</title>

    {% tailwind_preload_css %}
    {% tailwind_css %}
</head>


<body class="flex flex-row items-center h-[100vh]">
    <aside
        class="mx-auto flex-1 flex flex-col items-center justify-center bg-background-color h-full min-w-[600px] max-xl:hidden">

        <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_fzqg1yye.json" background="transparent"
            speed="1" class="h-auto w-auto" loop autoplay></lottie-player>

        <h3 class="text-[1.6rem] text-black font-bold">Apenas funcionários precisam se autenticar</h3>
        <p class="text-lg text-black text-center mt-1 w-[60%] mb-24">
            A autenticação é destinada ao pessoal autorizado, tal como os funcionários da COAPAC e COADES da instituição.
            Qualquer autenticação
            via SUAP por mais que válida, não será reconhecida pelo sistema se for um aluno.
        </p>
    </aside>

    <main class="bg-white flex-0 w-[40%] mx-auto max-xl:w-[80%]">

        <form action="" method="post" class="max-w-[400px] mx-auto" autocomplete="off">
            <h2 class="text-black font-bold text-4xl mb-1">Entrar</h2>
            <p class="text-gray text-lg mb-4">Bem vindo de volta. Estávamos ansiosos por sua volta!</p>

            {% csrf_token %}
            {% for field in form %}
            <label class="font-bold text-gray" for="{{ field.auto_id }}">{{ field.label }}</label>
            {{ field }}
            {% endfor %}
            <p class="text-error-color text-xs mb-4">
                {{ error }}
            </p>
            <p class="text-gray">
                <span class="font-bold">Importante:</span> O usuário e senha são os mesmos utilizados pelo SUAP. Nós não
                o armazenamos em nosso sistema.
            </p>

            <button
                class="w-full bg-primary text-black rounded-lg py-3 font-bold mt-8 hover:bg-primary-contrast transition-all"
                type="submit">Continuar</button>
        </form>
    </main>
</body>

</html>