{% extends 'base.html' %}
{% load static %}

{% block main %}
<section>
    <h2 class="font-bold text-black text-3xl mb-2">Criar nova postagem</h2>
    <div>
        <p class="text-black">Preencha os campos para criar uma nova postagem. O <b>“*”</b> indica que o <b>campo é
                obrigatório</b></p>
    </div>
</section>

<section class="w-full mt-6">
    <section class="">
        <form class="" action="" method="post">
            <h3 class="font-bold text-black text-xl">Dados de encontro do item</h3>
            <fieldset class="flex flex-wrap justify-between gap-y-3 mt-2 mb-5">
                <div class="flex flex-col w-[45%]">
                    <label class="text-gray font-semibold" for="name-person">Nome de quem encontrou *</label>
                    <input type="text" name="name" placeholder="Ex: João Silva"
                        class="text-gray border-light-gray rounded-lg px-4" required>
                </div>

                <div class="flex flex-col w-[45%]">
                    <label class="text-gray font-semibold" for="date-found">Data de quando foi encontrado *</label>
                    <input type="date" name="date-found" placeholder="__/__/__"
                        class="text-gray border-light-gray rounded-lg px-4" required>
                </div>

                <div class="flex flex-col w-[45%]">
                    <label class="text-gray font-semibold" for="place">Local que foi encontrado *</label>
                    <input type="text" name="place" placeholder="Ex: Ginásio"
                        class="text-gray border-light-gray rounded-lg px-4" required>
                </div>

                <div class="flex flex-col w-[45%]">
                    <label class="text-gray font-semibold" for="hour">Turno que foi encontrado *</label>
                    <select aria-placeholder="Selecione o turno" class="text-gray border-light-gray rounded-lg px-4">
                        <option value="morning">Manhã</option>
                        <option value="afternoon">Tarde</option>
                        <option value="night">Noite</option>
                    </select>
                </div>
                </div>
            </fieldset>

            <h3 class="font-bold text-black text-xl">Dados do item</h3>
            <fieldset class="flex flex-wrap justify-between gap-y-3 mt-2 mb-5">
                <div class="flex flex-col w-[45%]">
                    <label class="text-gray font-semibold" for="name-item">Nome *</label>
                    <input type="text" name="name-item" placeholder="Ex: Garrafa"
                        class="text-gray border-light-gray rounded-lg px-4" required>
                </div>

                <div class="flex flex-col w-[45%]">
                    <label class="text-gray font-semibold" for="description">Descrição</label>
                    <input type="text" name="description" id="description"
                        placeholder="Ex: Garrafa de plástico vermelha" class="text-gray border-light-gray rounded-lg px-4">
                </div>

                <div class="flex flex-col w-[45%]">
                    <label class="text-gray font-semibold" for="archive">Foto</label>
                    <label for="archive"
                        class="flex flex-row items-center justify-center gap-3 bg-primary text-black text-lg py-2 rounded-lg font-bold text-center cursor-pointer hover:bg-primary-contrast">
                        <img src="{% static 'icon/carbon_upload.svg' %}" class="w-5" />
                        Clique para fazer o upload
                    </label>
                    <input id="archive" type="file" name="photo-item" accept="image/*" class="hidden">

                </div>


            </fieldset>

            <h3 class="font-bold text-black text-xl">Dados para retirada do item</h3>
            <fieldset class="flex flex-wrap justify-between mt-2 mb-5">
                <div class="flex flex-col w-[45%]">
                    <label for="coades" class="text-gray font-semibold">COADES *</label>
                    <select aria-placeholder="Selecione o local" class="border-light-gray rounded-lg text-gray px-4"
                        required>
                        <option value="main-block">Bloco Principal</option>
                        <option value="annex-block">Bloco anexo</option>
                    </select>
                </div>

                <div class="flex flex-col w-[45%]">
                    <label for="date-withdrawal" class="text-gray font-semibold">Data limite para retirada *</label>
                    <input type="date" name="date-withdrawal" placeholder="__/__/__"
                        class="text-gray border-light-gray rounded-lg px-4" required>
                </div>
            </fieldset>

            <div class="flex justify-end mt-12">
                <button type="reset"
                    class="text-black font-bold border-gray border-2 rounded-lg px-12 mr-3 py-2">Cancelar</button>
                <button class=" text-black font-bold bg-primary rounded-lg px-12 py-2 hover:bg-primary-contrast" type="submit">Finalizar</button>
            </div>
        </form>
    </section>
</section>
{% endblock %}