<!DOCTYPE html>
<html lang="pt-br">

{% load tailwind_tags %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/svg" href="{% static 'svg/favicon.svg' %}">

    <title>Achados e perdidos</title>

    {% tailwind_preload_css %}
    {% tailwind_css %}
</head>

<body class="grid grid-cols-view bg-background-color max-xl:grid-cols-none">
    <aside class="w-[320px]">
        <div
            class="bg-white border-r-light-gray border-solid border-r-2 h-[100vh] w-[320px] flex flex-col items-center py-8 px-6 max-xl:hidden fixed">
            <nav class="flex-1 w-full">
                <h1>
                    <a href="{% url 'index' %}">
                        <img class="mb-2 mx-auto" src="{% static 'svg/logo.svg' %}" width="200" />
                    </a>
                </h1>
                <hr class="w-full my-5 border-light-gray">
                <ul class="list-none">
                    <li>
                        <a href="{% url 'items' %}"
                            class="font-bold text-gray text-base mb-2 rounded-lg py-4 flex items-center px-6 gap-3 {% if activeTab == 'items' %}bg-primary {% else %}bg-white hover:bg-primary-hover transition-all{% endif %}">
                            <img class="w-7" src="{% static 'icon/carbon_report.svg' %}" />
                            Postagens
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'delivered-items' %}"
                            class="font-bold text-gray text-base mb-2 rounded-lg py-4 flex items-center px-6 gap-3 {% if activeTab == 'delivered-items' %}bg-primary {% else %}bg-white hover:bg-primary-hover transition-all{% endif %}">

                            <img class="w-7" src="{% static 'icon/carbon_checkmark-outline.svg' %}" />
                            Itens entregues
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'expired-items' %}"
                            class="font-bold text-gray text-base mb-2 rounded-lg py-4 flex items-center px-6 gap-3 {% if activeTab == 'expired-items' %}bg-primary {% else %}bg-white hover:bg-primary-hover transition-all{% endif %}">

                            <img class="w-7" src="{% static 'icon/carbon_close-outline.svg' %}" />
                            Itens expirados
                        </a>
                    </li>
                    {% if is_authenticated %}
                    <hr class="border-light-gray my-5">
                    <li>
                        <a href="{% url 'registers' %}"
                            class="font-bold text-gray text-base mb-2 rounded-lg py-4 flex items-center px-6 gap-3 {% if activeTab == 'registers' %}bg-primary {% else %}bg-white hover:bg-primary-hover transition-all{% endif %}">

                            <img class="w-7" src="{% static 'icon/carbon_time.svg' %}" />
                            Todos os registros
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>

            <hr class="w-full my-6 border-light-gray">
            {% if is_authenticated %}
            <section class="w-full pl-5 pr-3 flex flex-row justify-between items-center">
                <div class="flex flex-row gap-3 items-center">
                    <img src="https://suap.ifrn.edu.br{{user.picture}}"
                        class="w-[55px] h-[55px] object-cover rounded-full" />
                    <div class="flex flex-col">
                        <strong class="font-bold text-black">{{ user.name }}</strong>
                        <label class="text-sm text-gray">{{ user.department }}</label>
                    </div>
                </div>
                <a href="{% url 'logout' %}" class="hover:bg-error-transparent-color transition-all p-2 rounded-full">
                    <img class="w-6" src="{% static 'icon/carbon_logout.svg' %}" />
                </a>
            </section>
            {% else %}
            <a href="{% url 'login' %}"
                class="flex flex-row w-full items-center justify-start gap-2 hover:bg-primary-hover py-3 px-5 rounded-lg hover:transition-all">
                <img class="w-8" src="{% static 'icon/carbon_login.svg' %}" />
                <div class="flex flex-col items-start leading-none">
                    <span class="text-xs mb-[-6px] text-gray">É funcionário?</span>
                    <strong class="text-lg text-black ">Entrar</strong>
                </div>
            </a>
            {% endif %}
        </div>
    </aside>

    <header class="hidden w-11/12 mx-auto max-xl:block">
        <section class="flex flex-row items-center justify-between mb-2 mx-auto mt-8">
            <h1>
                <a href="{% url 'index' %}">
                    <img class="" src="{% static 'svg/logo.svg' %}" width="200" />
                </a>
            </h1>

            <section class="flex flex-row items-center gap-4">
                {% if is_authenticated %}
                <img class="w-[48px] h-[48px] object-cover rounded-full"
                    src="https://suap.ifrn.edu.br{{user.picture}}" />
                <a href="{% url 'logout' %}" class="hover:bg-error-transparent-color transition-all p-2 rounded-full">
                    <img class="w-6" src="{% static 'icon/carbon_logout.svg' %}" />
                </a>
                {% else %}
                <a href="{% url 'login' %}"
                    class="flex flex-row w-full items-center justify-start gap-2 hover:bg-primary-hover p-2 rounded-full hover:transition-all">
                    <img class="w-8" src="{% static 'icon/carbon_login.svg' %}" />
                </a>
                {% endif %}
            </section>
        </section>

        <nav class="flex-1 w-full border-solid border-[1px] rounded-lg border-light-gray mt-6">
            <ul class="list-none flex flex-row items-center justify-around">
                <li>
                    <a href="{% url 'items' %}"
                        class="flex flex-col items-center gap-1 text-center text-sm font-semibold text-gray py-4 {% if activeTab == 'items' %}border-b-4 border-primary {% endif %}">
                        <img class="w-7" src="{% static 'icon/carbon_report.svg' %}" />
                        Postagens
                    </a>
                </li>
                <li>
                    <a href="{% url 'delivered-items' %}"
                        class="flex flex-col items-center gap-1 text-center text-sm font-semibold justify-center text-gray py-4 {% if activeTab == 'delivered-items' %}border-b-4 border-primary{% endif %}">

                        <img class="w-7" src="{% static 'icon/carbon_checkmark-outline.svg' %}" />
                        Entregues
                    </a>
                </li>
                <li>
                    <a href="{% url 'expired-items' %}"
                        class="flex flex-col items-center gap-1 text-center text-sm font-semibold text-gray py-4 {% if activeTab == 'expired-items' %}border-b-4 border-primary{% endif %}">

                        <img class="w-7" src="{% static 'icon/carbon_close-outline.svg' %}" />
                        Expirados
                    </a>
                </li>
                {% if is_authenticated %}
                <li>
                    <a href="{% url 'registers' %}"
                        class="flex flex-col items-center gap-1 text-center text-sm font-semibold text-gray py-4 {% if activeTab == 'registers' %}border-b-4 border-primary{% endif %}">

                        <img class="w-7" src="{% static 'icon/carbon_time.svg' %}" />
                        Registros
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main
        class="flex flex-1 py-16 flex-col w-4/6 mx-auto max-xl:w-11/12 max-2xl:w-11/12 max-2xl:py-0 max-2xl:pb-16 max-2xl:pt-8 relative">
        {%block main%}
        {%endblock%}
    </main>
</body>

</html>