<!DOCTYPE html>
<html lang="pt-br">

{% load tailwind_tags %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achados e perdidos</title>

    {% tailwind_preload_css %}
    {% tailwind_css %}
</head>

{% load static %}

<body class="grid grid-cols-view bg-background-color max-xl:grid-cols-none">
    <aside
        class="bg-white border-r-light-gray border-solid border-r-2 h-[100vh] w-[320px] flex flex-col items-center py-12 px-6 max-xl:hidden">
        <section class="flex-1 w-full">
            <h1>
                <img class="mb-2 mx-auto" src="{% static 'svg/logo.svg' %}" width="200" />
            </h1>
            <hr class="w-full my-5 border-light-gray">
            <li class="list-none">
                <ul>
                    <a href="{% url 'items' %}"
                        class="font-bold text-gray text-base mb-2 rounded-lg py-4 flex items-center px-6 gap-3 {% if activeTab == 'items' %}bg-primary {% else %}bg-white hover:bg-primary-hover transition-all{% endif %}">
                        <img class="w-7" src="{% static 'icon/carbon_report.svg' %}" />
                        Postagens
                    </a>
                </ul>
                <ul>
                    <a href="{% url 'delivered-items' %}"
                        class="font-bold text-gray text-base mb-2 rounded-lg py-4 flex items-center px-6 gap-3 {% if activeTab == 'delivered-items' %}bg-primary {% else %}bg-white hover:bg-primary-hover transition-all{% endif %}">

                        <img class="w-7" src="{% static 'icon/carbon_checkmark-outline.svg' %}" />
                        Itens entregues
                    </a>
                </ul>
                <ul>
                    <a href="{% url 'expired-items' %}"
                        class="font-bold text-gray text-base mb-2 rounded-lg py-4 flex items-center px-6 gap-3 {% if activeTab == 'expired-items' %}bg-primary {% else %}bg-white hover:bg-primary-hover transition-all{% endif %}">

                        <img class="w-7" src="{% static 'icon/carbon_close-outline.svg' %}" />
                        Itens expirados
                    </a>
                </ul>
                <hr class="border-light-gray my-5">
                <ul>
                    <a href="{% url 'all-registers' %}"
                        class="font-bold text-gray text-base mb-2 rounded-lg py-4 flex items-center px-6 gap-3 {% if activeTab == 'all-registers' %}bg-primary {% else %}bg-white hover:bg-primary-hover transition-all{% endif %}">

                        <img class="w-7" src="{% static 'icon/carbon_time.svg' %}" />
                        Todos os registros
                    </a>
                </ul>
            </li>
        </section>
        <section class="w-full">
            <div class="bg-primary rounded-lg flex flex-row p-5 gap-3 items-center">
                <img src="{% static 'image/user.png' %}" class="w-[58px]" />
                <div class="flex flex-col text-gray">
                    <strong class="font-bold">André Ferreira</strong>
                    <label class="text-sm">Funcionário</label>
                </div>
            </div>
            <hr class="my-6 border-light-gray">

            <div>
                <button
                    class="w-full text-error-color font-bold flex items-center justify-center gap-3 hover:bg-error-transparent-color py-3 transition-all rounded-lg">
                    <img class="w-7" src="{% static 'icon/carbon_logout.svg' %}" />
                    Sair da conta
                </button>
            </div>
        </section>
    </aside>

    <main class="flex flex-1 py-16 flex-col w-4/6 mx-auto max-2xl:w-11/12">
        {%block main%}
        {%endblock%}
    </main>
</body>

</html>