{% load static %}

<div data-name="{{ item.name }}" data-date="{{ item.updated_at }}" id="card_{{ item.id }}"
    class="itemCard flex flex-row items-center gap-6 border-2 border-light-gray rounded-2xl mt-12 flex-1">
    {% if item.image %}
    <img class="object-cover w-[260px] !h-[260px] rounded-tl-2xl rounded-bl-2xl" src="{{ item.image.url }}"
        alt="Foto do item" />
    {% else %}
    <div class="w-[260px] h-[260px]">
        {% include 'without_image.html' with class='rounded-bl-2xl rounded-tl-2xl' %}
    </div>
    {% endif %}


    <div class="flex-1 px-8 py-4">
        <section class="flex flex-row items-center justify-between w-full">
            <span class="rounded-3xl font-bold text-xs text-white px-4 py-1 {% if item.status == 'Entregue' %} bg-success-color
                {% elif item.status == 'Perdido' %}  
                bg-error-color
                {% else %}
                bg-gray
            {% endif %}">{{ item.status }}</span>

            <div class="flex flex-row items-center gap-2">
                <button data-url="card_{{ item.id }}"
                    class="hover:bg-primary-hover rounded-full p-2 transition-all shareButton">
                    <img class="fill-black w-6" src="{% static 'icon/carbon_share.svg' %}" />
                </button>

                {% if item.status != 'Entregue' and is_authenticated %}
                <button onclick="toggleMenu(`options_{{ item.id }}`)"
                    class="hover:bg-primary-hover rounded-full p-1 transition-all">
                    <img class="fill-black w-7" src="{% static 'icon/carbon_overflow-menu-vertical.svg' %}" />
                </button>
                {% endif %}
            </div>
        </section>

        <h4 data-item-name="{{ item.name }}" class="font-bold text-black text-[28px] mb-4 item">{{ item.name }}</h4>

        <div class="flex flex-row items-start gap-y-4 relative">

            <div id="options_{{ item.id }}" class="bg-white w-[250px] shadow-lg rounded-lg absolute z-10 left-[65%]  border-solid border-[1px] border-light-gray hidden {% if item.status == 'Expirado' %}
                bottom-[100%]
                {% else %}
                bottom-[10%]
                {% endif %}">
                {% if item.status == 'Expirado' %}
                <a href="{% url 'edit-item' item.id %}"
                    class="flex flex-row items-center justify-between w-full py-3 px-5 hover:bg-light-gray-hover transition-all">
                    Editar
                    <img class="w-5" src="{% static 'icon/carbon_chevron-right.svg' %}" />
                </a>
                {% else %}
                <a href="{% url 'edit-item' item.id %}"
                    class="flex flex-row items-center justify-between w-full py-3 px-5 hover:bg-light-gray-hover transition-all">
                    Editar
                    <img class="w-5" src="{% static 'icon/carbon_chevron-right.svg' %}" />
                </a>

                <button onclick="showDialog(`{{ item.id }}`, `{{ item.name }}`)"
                    class="flex flex-row items-center justify-between w-full text-error-color py-3 px-5 hover:bg-light-gray-hover transition-all">
                    Excluir
                    <img class="w-5" src="{% static 'icon/carbon_chevron-right-warning.svg' %}" />
                </button>

                <a href="{% url 'complete-delivery' item.id %}"
                    class="flex flex-row items-center justify-between w-full text-success-color py-3 px-5 hover:bg-light-gray-hover transition-all">
                    Definir como entregue
                    <img class="w-5" src="{% static 'icon/carbon_chevron-right-success.svg' %}" />
                </a>
                {% endif %}
            </div>
            <div>
                <section class="flex flex-row">
                    <div class="flex flex-row items-center gap-3 w-[240px] mb-2">
                        <img class="w-8" src="{% static 'icon/carbon_location-hazard.svg' %}" />

                        <div class="leading-none">
                            <strong class="text-black m-0 text-sm">Local onde foi encontrado:</strong>
                            <p class="text-gray m-0 text-sm">{{ item.local_found }}</p>
                        </div>
                    </div>


                    <div class="flex flex-row items-center gap-3 w-[240px] mb-2">
                        <img class="w-8 fill-black" src="{% static 'icon/carbon_time-small.svg' %}" />

                        <div class="leading-none">
                            <strong class="text-black m-0 text-sm">Quando foi encontrado:</strong>
                            <p class="text-gray m-0 text-sm">
                                <span class="font-bold">{{ item.when_was_found }}</span> durante à <span
                                    class="font-bold">
                                    {{ item.shift }}</span>
                            </p>
                        </div>
                    </div>
                </section>
                <section class="flex flex-row">
                    <div class="flex flex-row items-center gap-3 w-[240px] {% if item.status == 'Entregue' %}
                hidden
            {% endif %}">
                        {% if item.status == 'Expirado' %}
                        <img class="w-8" src="{% static 'icon/carbon_close-outline-colorful.svg' %}" />
                        {% elif item.status == 'Perdido' and num_days > difference_date|get_item:item.id %}
                        <img src="{% static 'icon/carbon_warning-alt.svg' %}">
                        {% else %}
                        <img class="w-8" src="{% static 'icon/carbon_checkmark-outline-colorful.svg' %}" />
                        {% endif %}

                        <div class="leading-none">
                            <strong class="m-0 text-sm {% if item.status == 'Expirado' %} text-error-color 
                            {% elif item.status == 'Perdido' and num_days > difference_date|get_item:item.id %} text-warning-color
                        {% else %}
                        text-success-color
                    {% endif %}">Data limite para retirada:</strong>
                            <p class="text-gray m-0 text-sm">{{ item.withdrawal_deadline }}</p>
                        </div>
                    </div>
                    <div class="flex flex-row items-center gap-3 w-[240px]">
                        <img class="w-8" src="{% static 'icon/carbon_tool-box.svg' %}" />

                        <div class="leading-none">
                            <strong class="text-black m-0 text-sm">COADES para retirada:</strong>
                            <p class="text-gray m-0 text-sm">{{ item.pickup_location }}</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
