{% load static %}
<script>
    function toggleMenu(id) {
        var options = document.getElementById(id).style
        if (!options.display) {
            options.display = 'block'
            return;
        }
        options.display = options.display == 'none' ? 'block' : 'none'
    }
</script>

<div id="card_{{ item.id }}" class="flex flex-row items-center gap-9 border-2 border-light-gray rounded-2xl mt-12">
    <img class="object-cover w-[260px] h-full rounded-tl-2xl rounded-bl-2xl" src="{% static item.image %}"
        alt="Foto do item" />

    <div class="flex-1 px-8 py-4">
        <section class="flex flex-row items-center justify-between">
            <span class=" rounded-3xl font-bold text-xs text-white px-4 py-1 {% if item.status == 'Entregue' %} bg-success-color
                {% elif item.status == 'Perdido' %}  
                bg-error-color
                
                {% else %}
                bg-gray
            {% endif %}">{{ item.status }}</span>

            <div class="flex flex-row items-center gap-2">
                <button class="hover:bg-primary-hover rounded-full p-2 transition-all">
                    <img class="fill-black w-6" src="{% static 'icon/carbon_share.svg' %}" />
                </button>
                
                {% if item.status != 'Entregue'%}
                <button onclick="toggleMenu(`options_{{ item.id }}`)"
                    class="hover:bg-primary-hover rounded-full p-1 transition-all">
                    <img class="fill-black w-7" src="{% static 'icon/carbon_overflow-menu-vertical.svg' %}" />
                </button>
                {% endif %}
            </div>
        </section>

        <h4 class="font-bold text-black text-[28px] mb-4">{{ item.name }}</h4>

        <div class="flex flex-row flex-wrap items-center gap-y-4 relative">

            <div id="options_{{ item.id }}"
                class="bg-white w-[250px] shadow-lg rounded-lg absolute z-10 left-[65%] bottom-[10%] border-solid border-[1px] border-light-gray hidden">
                {% if item.status == 'Expirado' %}
                <a href=""
                    class="flex flex-row items-center justify-between w-full py-3 px-5 hover:bg-light-gray-hover transition-all">
                    Editar
                    <img class="w-5" src="{% static 'icon/carbon_chevron-right.svg' %}" />
                </a>
                {% else %}
                <a href=""
                    class="flex flex-row items-center justify-between w-full py-3 px-5 hover:bg-light-gray-hover transition-all">
                    Editar
                    <img class="w-5" src="{% static 'icon/carbon_chevron-right.svg' %}" />
                </a>

                <button
                    class="flex flex-row items-center justify-between w-full text-error-color py-3 px-5 hover:bg-light-gray-hover transition-all">
                    Excluir
                    <img class="w-5" src="{% static 'icon/carbon_chevron-right-warning.svg' %}" />
                </button>

                <a href="{% url 'complete-delivery' %}"
                    class="flex flex-row items-center justify-between w-full text-success-color py-3 px-5 hover:bg-light-gray-hover transition-all">
                    Definir como entregue
                    <img class="w-5" src="{% static 'icon/carbon_chevron-right-success.svg' %}" />
                </a>
                {% endif %}
            </div>

            <div class="flex flex-row items-center gap-3 w-[300px]">
                <img class="w-8" src="{% static 'icon/carbon_location-hazard.svg' %}" />

                <div class="leading-none">
                    <strong class="text-black m-0 text-sm">Local onde foi encontrado:</strong>
                    <p class="text-gray m-0 text-sm">{{ item.local_found }}</p>
                </div>
            </div>
            <div class="flex flex-row items-center gap-3 w-[300px]">
                <img class="w-8 fill-black" src="{% static 'icon/carbon_time-small.svg' %}" />

                <div class="leading-none">
                    <strong class="text-black m-0 text-sm">Quando foi encontrado:</strong>
                    <p class="text-gray m-0 text-sm">
                        <span class="font-bold">{{ item.when_was_found }}</span> durante à <span class="font-bold">
                            {{ item.shift }}</span>
                    </p>
                </div>
            </div>
            <div class="flex flex-row items-center gap-3 w-[300px] {% if item.status == 'Entregue' %}
                hidden
            {% endif %}">
                {% if item.status == 'Expirado' %}
                <img class="w-8" src="{% static 'icon/carbon_close-outline-colorful.svg' %}" />
                {% else %}
                <img class="w-8" src="{% static 'icon/carbon_checkmark-outline-colorful.svg' %}" />
                {% endif %}

                <div class="leading-none">
                    <strong class="m-0 text-sm {% if item.status == 'Expirado' %} text-error-color
                        {% else %}
                        text-success-color
                    {% endif %}">Data limite para retirada:</strong>
                    <p class="text-gray m-0 text-sm">23/10/2022</p>
                </div>
            </div>
            <div class="flex flex-row items-center gap-3 w-[300px]">
                <img class="w-8" src="{% static 'icon/carbon_tool-box.svg' %}" />

                <div class="leading-none">
                    <strong class="text-black m-0 text-sm">COADES para retirada:</strong>
                    <p class="text-gray m-0 text-sm">{{ item.pickup_location }}</p>
                </div>
            </div>
        </div>
    </div>
</div>